/* $header-color:#00b9f5;
$header-title-color:white; */
.m-r-10{
margin-right: 10px;
}
.m-l-10{
  margin-left: 10px;
}

.m-t-15{
  margin-top: 15px;
}
.darkseagreen{
  background:#00b9f5;
}

.white-c{
  color: white;
}

.detailslist{
font-weight: bold;
width: 50%
}

.f-s-20{
  font-size: 20px
}
.m-b-6{
      margin-bottom: 6px !important;
}

.headerc{
  background-color: #00b9f5;
}
.mainc{
  color: white;
}
.m-t-10{
  margin-top: 10px
}
.sideheaders{
  background-color: #ebebeb;
    color: black;
    font-size: 17px;
    font-weight: bold;
}
